
.logo{
    display: flex;
    align-items: center;
}


.logo .divisao{
    width: 1px;
    height: 22px;
}

.logo .logo-texto{
    /*width: 103px;*/
    width: 16vh;
    margin-left: 10px;
}

.logo .logo-icone{
    /*width: 19.25px;*/
    width: 4vh;
    margin-right: 2vh;
}
