
@media (max-width: 935px){
    .topo,.header{
       width: 100%;
    }

    
    
    .slider-bar , .slider-bar-sombra{
        display: none;
    }

}


@media (max-width: 614px){
    
    .conteudo,.stories-posts, .slider-bar, .posts, .post,.user,.user .lateral, .feedback, .stories, .corpo, .centro{
        width: 100%;
    }
    .header{
        width: 100%;
    }
    .topo{
        width: 100%;
    }
    .feedback .curtido{
        margin-left: 0;
    }
    .header .logo{
        width: 60vw;
        justify-content: space-between;
    }

    .header .logo .logo-icone{
        margin-left: 6vw;
    }

    .header .aviao{
        margin-right: 6vw;
    }

    .setinha-stories{
        display: none;
    }
    .image{
        width: 100%;
    }

    .descubra{
        display: none;
    }
    .curtidas{
        display: none;
    }
    .contatos{
        display: none;
    }
    .barra-pesquisa{
        display: none;
    }
    .divisao{
        display: none;
    }

    .slider-bar , .slider-bar-sombra{
        display: none;
    }

    .fundo{
        display: block;   
        width: 100%;
        display: flex;
        justify-content: center;
        
    }

    .fundo .barra-inferior{
        height: 54px;
        width: calc(100% - 60px);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    
}